
<div class="max-w-md mx-auto rounded-xl shadow-md overflow-hidden">

  <div class="md:flex">
  <section class="flex justify-center items-center bg-gray-100">
    <div class="text-black text-shadow-md text-xl max-w-md w-full text-center bg-yellow-600 items-center rounded p-6 space-y-4"> 
        <h2 class="font-sans text-red-900 uppercase">Bienvenido</h2>
        <h2 class="font-sans text-red-800 uppercase">Estamos en proceso de desarrollo.</h2>
      </div>
    </section>
  </div>
</div>


  

