<%# DIV que se ajusta el total width de la pantalla y contiene los 3 logos lado a lado compartiendo el espacio en 3 partes iguales %>
<div class="max-w mx-auto bg-red-400 rounded-xl shadow-md overflow-hidden pt-3 pb-3 pr-7 pl-13">

  <div class="text-center text-red text-3xl text-bold font-mono">
  EL MERCADO CRIPTA
  </div>
  </br>
  <div class="flex flex-row">
    <div class="basis-1/3">
      <img class="object-contain h-33 w-36" <%= image_tag 'oioLogo.png', alt: 'LOGO' %> 
    </div>
    <div class="basis-1/3">
      <img class="object-contain h-33 w-36" <%= image_tag 'logoMobile.png', alt: 'LOGO' %> 
    </div>
    <div class="basis-1/3">
      <img class="object-contain h-33 w-36" <%= image_tag 'allAsOne.png', alt: 'LOGO' %> 
    </div>
  </div>
  </br>
  <div class="pl-11 text-center text-red text-3xl text-bold font-mono">
  TECNOLOGÍA Y HUMANIDAD EN SIMBIOSIS
  </div>
</div>
