<tr>
  <td class="text-center py-3 px-6"><%= auction.name %></td>
  <td class="text-center py-3 px-6"><%= auction.quantity %></td>
  <td class="text-center py-3 px-6"><%= auction.initial_bid %></td>
  <td class="text-center py-3 px-6"><%= auction.current_bid %></td>

</tr>
<br>

