

  

<style>
iframe {
    z-index : -9999;
    position: absolute;
    top : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
    margin  : 0;
    padding : 0;
}
</style>
<iframe src= "https://threejs.org/examples/webgl_interactive_points.html" ></iframe> 



<div class="max-w-md mx-auto rounded-xl shadow-md">

  <div class="md:flex">
   <section class="flex justify-center items-center bg-gray-100">
      </div>
      <br>
      
      <h2 class="text-red-900 text-center uppercase">Ingresar con su cuenta</h2>

      </br>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="w-full p-4 text-sm bg-orange-100 focus:outline-none border border-sky-900 rounded-xl shadow-md text-orange-900">
          <%= f.text_field :email, autofocus: true, placeholder: "Correo electrónico" %>
        </div>

        <div class="w-full p-4 text-sm bg-orange-100 focus:outline-none border border-sky-900 rounded-xl shadow-md text-orange-900">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "Contraseña"  %>
        </div>
        <br>
        <div class="max-w-md mx-auto text-center py-4 bg-orange-600 hover:bg-orange-900 rounded text-sm font-bold text-white transition duration-200">
          <%= f.submit "Ingresar" %>
        </div>
      <% end %>
      <h2 class="text-red-900 text-center uppercase">la economia del pueblo</h2>
</section>
  </div>
</div>


  

