<% if Rails.env.development? %>
 <div class="max-w-md mx-auto rounded-xl shadow-md overflow-hidden">
    <div class="md:flex">
      <section class="flex justify-center items-center bg-gray-100">
        <div class="text-black text-shadow-md text-xl max-w-md w-full text-center bg-yellow-600 items-center rounded p-6 space-y-4">
          <h2 class="text-red-900 text-center uppercase">Ingresar con su cuenta</h2>
          </br>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="w-full p-4 text-sm bg-orange-100 focus:outline-none border border-sky-900 rounded-xl shadow-md text-orange-900">
              <%= f.text_field :email, autofocus: true, placeholder: "Correo electrónico" %>
            </div>
            <div class="w-full p-4 text-sm bg-orange-100 focus:outline-none border border-sky-900 rounded-xl shadow-md text-orange-900">
              <%= f.password_field :password, autocomplete: "current-password", placeholder: "Contraseña"  %>
            </div>
            <br>
            <div class="max-w-md mx-auto text-center py-4 bg-orange-600 hover:bg-orange-900 rounded text-sm font-bold text-white transition duration-200">
              <%= f.submit "Ingresar" %>
            </div>
          <% end %>
          <h2 class="text-red-900 text-center uppercase">la economia del pueblo</h2>
        </div>
      </section>
    </div>
  </div> 
<% else %>
 <div class="max-w-md mx-auto rounded-xl shadow-md overflow-hidden">
    <div class="md:flex">
      <section class="flex justify-center items-center bg-gray-100">
        <div class="text-black text-shadow-md text-xl max-w-md w-full text-center bg-yellow-600 items-center rounded p-6 space-y-4">
          <h2 class="font-sans text-red-900 uppercase">Bienvenido</h2>
          <h2 class="font-sans text-red-800 uppercase">Estamos en proceso de desarrollo.</h2>
        </div>
      </section>
    </div>
  </div> 
<% end %>

  

